In [24]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import joblib

# Loading the Dataset

In [25]:
csv_lst = ['s1.csv', 's2.csv', 's3.csv', 's4.csv', 's5.csv', 's6.csv', 'interactive_film.csv', 'special.csv']

df_lst = []

for i in range(len(csv_lst)):
    df_lst.append(pd.read_csv('data/' + csv_lst[i]))

s1, s2, s3, s4, s5, s6, interactive_film, special = df_lst[0], df_lst[1], df_lst[2], df_lst[3], df_lst[4], df_lst[5], df_lst[6], df_lst[7]

In [26]:
df = pd.concat([s1, s2, s3, s4, s5, s6, interactive_film, special], ignore_index=True)
df.head(5)

,Episode,Text
0,The National Anthem,"\n\n""The National Anthem"" is the series premie..."
1,Fifteen Million Merits,"\n\n""Fifteen Million Merits"" is the second epi..."
2,The Entire History of You,"\n\n""The Entire History of You"" is the third a..."
3,Be Right Back,"\n\n""Be Right Back"" is the first episode of th..."
4,White Bear,"\n\n""White Bear"" is the second episode of the ..."

# Training the Model

In [27]:
key_terms = ['AI']

model = TfidfVectorizer()

matrix = model.fit_transform(df['Text'])
key_terms_vector = model.transform(key_terms)
cosine_similarities = linear_kernel(key_terms_vector, matrix)
similarity_df = pd.DataFrame({'Episode': df['Episode'], 'Similarity': cosine_similarities[0]})

sorted_df = similarity_df.sort_values(by='Similarity', ascending=False)

relevant_episodes = sorted_df[sorted_df['Similarity'] > 0]

relevant_episodes[['Episode']]

                        Episode
21                Joan Is Awful
27              White Christmas
3                 Be Right Back
20  Rachel, Jack and Ashley Too
16                    Metalhead

# Save the Model

In [28]:
joblib.dump(model, 'episode2rec.pkl')

['episode2rec.pkl']